body{
    background-color: darkslategray;
    font:normal 15pt arial;
}

header{
    text-align: center;
    color:white;
}

section{
    background-color: white;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer{
   text-align: center;
   color:white;
   font-style: italic;
}